<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="drawingmanager" stopProcessing="true">
          <match url="^drawingmanager/?(.*)" />
          <action type="Rewrite" url="https://drawingmanagerqarel.azurewebsites.net/{R:1}"/>
        </rule>
         <rule name="pmtweb" stopProcessing="true">
          <match url="^pmtweb/?(.*)" />
          <action type="Rewrite" url="https://pmtuiqarel.azurewebsites.net/{R:1}"/>
        </rule>
        <rule name="pmt" stopProcessing="true">
          <match url="^pmt/?(.*)" />
          <action type="Rewrite" url="https://pmtuiqarel.azurewebsites.net/pmt/{R:1}"/>
        </rule>
       
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
      <outboundRules>
         <rule name="noCache" preCondition="noCacheContents">
             <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
             <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
         </rule>
          <preConditions>
             <preCondition name="noCacheContents" logicalGrouping="MatchAny">
                 <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
             </preCondition>
         </preConditions>
     </outboundRules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
  </staticContent>
  </system.webServer>
</configuration>
