.releaseNotesHeading {
    text-align: center;
}

.releaseNoteList {
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    li {
        padding-bottom: 20px;
    }
 }
 

 .pdf-link {
    text-decoration: underline !important;
 }

 .saveLabel {
     padding-top: 12px;
 }
 
 .saveCheckbox {
     width: 300px;
 }