.dashboard-wrapper.section-wrapper {
    margin: -44px 0 0;
}

.dashboard-wrapper.section-wrapper .container {
    margin: 0;
    width: inherit;
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
}